<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
    </div>
    <div *ngIf="isLoading" >
        <app-loading-spinner></app-loading-spinner>
    </div>
    
        <div role="alert" class="alert alert-error" *ngIf="error">
            <svg (click)="error = null" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>{{error}}.</span>
          </div>
   
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100" *ngIf="!isLoading" >
        
      <form class="card-body" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="email"
            placeholder="email"
            class="input input-bordered"
            ngModel
            name="email"
            email
            #email="ngModel"
            required

          />
          <p *ngIf="!email.valid && email.touched" class="text-red-500 mt-1 text-xs italic">Please provide an email.</p>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input input-bordered"
            ngModel
            name="password"
            minlength="6"
            #password="ngModel"
            required
          />
            <p *ngIf="!password.valid && password.touched" class="text-red-500 mt-1 text-xs italic">Please provide a password.</p>
          <label class="label">
            <a href="#" class="label-text-alt link link-hover"
              >Forgot password?</a
            >
          </label>
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
        </div>
        <div class="mt-1 form-control">
          <button
            (click)="onSwitchMode()"
            type="button"
            class="btn btn-primary"
          >
            {{ isLoginMode ? "Swich to Sign up" : "Swich to Login" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
